<div class="menuContainer verticalScrollBarLight" data-ng-style="{width: MENU_SIZE + 'px'}">
	<div class="button" data-ng-click="clearGrid()">CLEAR GRID</div>
	<div class="button" data-ng-click="menuService.playing = !menuService.playing">{{menuService.playing ? 'PAUSE' : 'PLAY'}}</div>
	<div class="button" data-ng-click="menuService.borders = !menuService.borders">{{menuService.borders ? 'ShowBorders' : 'hideBorders'}}</div>
	<div class="button" data-ng-click="loadImageFile()">UPLOAD</div>
	<div class="button" data-ng-click="drawStep()">STEP</div>

	<div class="growthTypeContainers">
		<div class="growthType"
		     data-ng-repeat="item in menuService.growthTypes"
		     data-ng-class="{active: item == menuService.activeGrowthType}"
		     data-ng-click="menuService.activeGrowthType = item"
			></div>

	</div>
	<div class="directionalControls" data-ng-if="menuService.activeGrowthType.index == 0">
		<div cell-activator
		     data-show-label="false"
		     data-cells="[1,2,3,4,6,7,8,9]"
		     data-return-array="menuService.activeGrowthType.activatedCells">
		</div>
	</div>
	<div class="typeControls" data-ng-show="menuService.activeGrowthType.index == 1">
		<div class="half">
			<div class="title">STAY ALIVE</div>
			<div cell-activator
			     data-show-label="true"
			     data-cells="[1,2,3,4,6,7,8,9]"
			     data-return-array="menuService.activeGrowthType.stayAlive">
			</div>
		</div><div class="half">
			<div class="title">BIRTH</div>
			<div cell-activator
			     data-show-label="true"
			     data-cells="[1,2,3,4,6,7,8,9]"
			     data-return-array="menuService.activeGrowthType.birth">
			</div>
		</div>
		<div class="ruleType"
		     data-ng-repeat="rule in RULE_TEMPLATES"
		     data-ng-click="loadRule(rule)">{{rule.name}}
		</div>

	</div>


	<div slider
	     data-fixed-value="10"
	     data-slider-value="menuService.animationSpeed"
	     data-min-value="1"
	     data-max-value="3">
	</div>
	<input type="color" class="colorPicker" data-ng-change="recalculateColors()" data-ng-model="menuService.colorOne">
	<input type="color" class="colorPicker" data-ng-change="recalculateColors()" data-ng-model="menuService.colorTwo">



</div>
