@menuBlue: #5050FF;
@borderColor: #FFFFFF;
@menuGrey: #999999;
@menuGreen: #50FF50;

div.menuContainer {
    color: #FFFFFF;
    position: absolute;
    right: -1px;
    padding: 0 10px;
    border-left: 3px solid white;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
	overflow-y: scroll;
	> div.button {
		font-size: 20px;
		text-align: center;
		border: 1px solid white;
		margin: 5px 0;
		padding: 5px 0;
		cursor: pointer;
		&:hover {
			background-color: @menuGrey;
		}
	}
	> div.growthTypeContainers {
		border-top: 3px solid @borderColor;
		border-bottom: 3px solid @borderColor;
		padding: 5px;
		margin: 5px 0;
		text-align: center;
		> div.growthType {
			display: inline-block;
			cursor: pointer;
			border: 1px solid @borderColor;
			background-color: @menuGrey;
			width: 20px;
			height: 20px;
			&.active {
				background-color: @menuBlue;
			}
		}
	}

	> div.typeControls {
		box-sizing: border-box;
		text-align: center;

		> div.half {
			display: inline-block;
			width: 50%;
			margin-bottom: 5px;
			> div.title {
				font-weight: bold;
				font-size: 15px;
				margin: 9px 0 5px 0;
			}
		}
		> div.ruleType {
			cursor: pointer;
			&:hover {
				background-color: @menuBlue;
			}
		}
	}
}